# Proposal Capstone Project

## 1) The problem
Provide a non-technical but sufficiently clear formulation of your problem

- What is the wider context of your problem and what story you would like to tell with the data?
- What problem would you like to address?

## 2) The Data

- Source and context of the dataset, provide the relevant links
- A small sample of the entries, features, values
- Number of features and samples
- Explain what information is conveyed by the different features
- Granularity/details of the data
 -Quality of the data: missing, incorrect values, data completeness
- If your are collecting the data yourself (ex. web scraping, personal recordings) or don’t have access to the full data yet, please provide already a - - - representative sample

b) Discuss your plan for

- Managing your data ex. storing, file formats, database usage
- Data cleaning and data manipulation
- Feature engineering
- If you are combining multiple datasets please comment on the following
- How do you plan to combine the datasets
- Compatibility of the different datasets: encodings, standards, units, etc.
- The features you will select from each dataset

## 3) Exploratory Data Analysis (EDA)

a) Include a preliminary EDA

- Provide descriptive statistics and informative plots on your features
- Explore relationships amongst the features themselves and with the target
- Check for missing values and outliers

b) Discuss how the EDA informs your project plan

- What interesting patterns do you observe in the data? What problems do you identify?
- What insight can you gain to inform your data processing and your modeling?
- Clearly state your observations and discuss their impact on your project
- Discuss possible approaches and your resulting decisions for the project plan
c) Based on this preliminary EDA, you should

- Outline your plan for further EDA in the project

#### Load data from the survey 'Altersbefragung' in Zurich from 2023:

In [2]:
age_df = pd.read_csv('altersbefragung_ogd.csv')
age_df.head()

,F01,F03,F06,F0701,F0702,F0703,F0704,F0901,F0902,F0903,...,S08_7,S08_8,S08_9,S08_10,S08_11,S08_12,K_SCHICHT,K_KREIS,K_GESCHLECHT,GEWICHT
0,4,2,2.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,...,1,0,0,0,0,0,77,3,2,24.8000
1,4,1,1.0,4.0,4.0,4.0,4.0,NaN,3.0,3.0,...,0,0,0,0,0,1,70,10,2,23.9694
2,2,1,2.0,4.0,3.0,3.0,4.0,3.0,4.0,4.0,...,0,0,0,0,0,1,16,9,1,28.5568
3,4,1,2.0,1.0,NaN,NaN,NaN,3.0,4.0,4.0,...,0,0,0,0,0,1,16,9,1,28.5568
4,2,4,1.0,NaN,3.0,NaN,4.0,3.0,1.0,3.0,...,0,0,0,0,0,1,35,8,1,30.9259

In [3]:
# Number of surveys
age_df.shape

(2449, 211)

In [7]:
# Number of NA's as a list:
age_df.isna().sum()

F01               0
F03               0
F06             271
F0701           308
F0702           394
               ...
S08_12            0
K_SCHICHT         0
K_KREIS           0
K_GESCHLECHT      0
GEWICHT           0
Length: 211, dtype: int64